{{ include ../layout/header }}
<style type="text/css">
	input{
		width: 100%;
	}
</style>
<label>请选择日期：</label>
<input type="date">
<table class="table  ">
	<thead>
		<tr>
			<th>上课时间</th>
			<th>教室</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<script>
	$(function(){
		var obj = {
			1:'第1~2节课',
			2:'第3~4节课',
			3:'第5~6节课',
			4:'第7~8节课',
		}
		var data = {
			1:['hehe','fds'],
			2:['hehe','fds'],
			3:['hehe','fds'],
			4:['hehe','fds']
		}
		$('input').on('change',function(){
			$.getJSON('http://api.uanli.cn/api/?controller=Classroom&action=read&date='+$(this).val()+'&jsoncallback=?',function(d){
			$('tbody').empty();
			for(var i=1;i<=4;i++){
				$('tbody').append('<tr><th>'+obj[i]+'</th><th>'+d.data[i].toString()+'</th></tr>');
			}
			$('tbody').append('<tr><th>obj[1]</th><th>data[1][1]</th></tr>');
			});
		});
	});
</script>
{{ include ../layout/footer}}