{{ include layout/header }}
<link rel="stylesheet" type="text/css" href="/css/userBind.css">
	<form>
	  <div class="form-group">
	    <label for="studenId">学号：</label>
	    <input type="number" class="form-control" id="studentId" placeholder="请输入学号">
	  </div>
	  <div class="form-group">
	    <label for="password">密码：</label>
	    <input type="password" class="form-control" id="password" placeholder="密码为身份证后四位">
	  </div>
	  <button type="button" class="btn btn-success submit">提交</button>
	</form>
<script src="/js/userBind.js"></script>
