body{
	font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
}
#footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}
#footer .navbar{
	margin: 0;
}
#footer .navbar-brand span{
	font-size: 16px;
}